page-list {

}

.popover-green {
  background-color: green;
}
.popover-yellow {
  background-color: yellow;
}
.popover-red {
  background-color: red;
}
.popover-blue {
  background-color: blue;
}
.popover-white {
  background-color: white;
}
