page-list {

}

.popover-green {
  background-color: #00C851;
}
.popover-yellow {
  background-color: #fbc02d;
}
.popover-red {
  background-color: #ff3547;
}
.popover-blue {
  background-color: #4285f4;
}
.popover-white {
  background-color: white;
}
