<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bedrijven</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
  <ion-item>
    <ion-label>Opleidingen</ion-label>
    <ion-select (ionChange)="onOpleidingenChange($event)" [(ngModel)]="opleidingen" multiple="true" cancelText="Cancel" okText="Ok">
      <ion-option value="Bedrijfsmanagement">Bedrijfsmanagement</ion-option>
      <ion-option value="OfficeManagement">OfficeManagement</ion-option>
      <ion-option value="Communicatie">Communicatie</ion-option>
      <ion-option value="ICT Multimedia">ICT Multimedia</ion-option>
      <ion-option value="Grafische en Digitale Media">Grafische en Digitale Media</ion-option>
      <ion-option value="Wetenschappen">Wetenschappen</ion-option>
      <ion-option value="Techniek">Techniek</ion-option>
      <ion-option value="Toegepaste Informatica">Toegepaste Informatica</ion-option>
      <ion-option value="Electronica ICT">Electronica ICT</ion-option>
      <ion-option value="Gezondheid">Gezondheid</ion-option>
      <ion-option value="Onderwijs">Onderwijs</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
    <div style="margin-top: -6px">
		<p *ngIf="item.Kleur != ''" style="border:1px solid #000;display:inline-block;position: absolute; margin:0 5px;"><span *ngFor="let kleur of item.Kleur"><span [style.backgroundColor]="kleur">&nbsp;</span></span></p>

		<p style="display:inline-block; position: absolute; margin:0 24px;">{{item.Bedrijf}}</p>
		<div style="position: absolute; right: 5px;">
		{{item.Standnr}}
		</div>
  	</div>
    </button>
  </ion-list>
</ion-content>
