<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bedrijven</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-spinner name="circles" *ngIf="item == 0"></ion-spinner>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.Bedrijf}}
      <div class="item-note" item-right>
        {{item.Standnr}}
      </div>
    </button>
  </ion-list>
</ion-content>
