<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bedrijven</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.Bedrijf}}
  </h3>

    <h6 text-center *ngIf="selectedItem">
    {{selectedItem.Opleiding}}
  </h6>
<p text-center *ngIf="selectedItem">
    {{selectedItem.Sector}}
</p>
  <table style="width:100%">
  <tr>
    <th>e-mail:</th>
    <td>{{selectedItem.E_mail}}</td>
  </tr>
  <tr>
    <th>Contact:</th>
    <td>{{selectedItem.Contact}}</td>
  </tr>
  <tr>
    <th>Postcode:</th>
    <td>{{selectedItem.Post}}</td>
  </tr>
  <tr>
    <th>Gemeente:</th>
    <td>{{selectedItem.Gemeente}}</td>
  </tr>
  <tr>
    <th>Telefoon:</th>
    <td>{{selectedItem.Telefoon}}</td>
  </tr>
  <tr>
    <th>Stand nr:</th>
    <td>{{selectedItem.Standnr}}</td>
  </tr>


</table>

</ion-content>
